button {
    background-color: white;
    box-shadow: 2px 2px 6px black;
    border-radius: 10px;
    display: inline;
    justify-content: center;
    align-items: center;
}
a {
    text-decoration: none;
}
body {
    background-color: burlywood;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center; 
}

p {
    text-align: center;
}

h2 {
    text-align: center;
}

#clickme {
    background-origin: padding-box;
    padding: 10px 10px 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

footer {
    text-align: center;
}

img {
    height: 200px;
    text-align: center;
}

table {
   margin: auto;
}